<div class="banner d-flex justify-content-center p-5">
  <p class="banner-title m-3">A place to write and share your knowledge.</p>
</div>
<div class="row mx-5 my-3">
  <div class="col-sm-8">
    <app-tab-button label="Your Feed" (tabClicked)="handleTab($event)" *ngIf="isLoggedIn"></app-tab-button>
    <app-tab-button label="Global Feed" (tabClicked)='handleTab($event)'></app-tab-button>
    <div class="" infiniteScroll (scrolled)="onScroll()">
      <app-article-list [articles]="articles"></app-article-list>
    </div>
  </div>
  <div class="col-sm-3">
    <app-tag-list></app-tag-list>
  </div>
</div>
