@import url('https://fonts.googleapis.com/css?family=Great+Vibes');

.header {
  background-color: #ffffff;
}

.title {
  font-family: 'Great Vibes', cursive;
  color: #C84E90;
  font-size: 2.5rem;
}

a:hover {
  text-decoration: none;
}

.button-link.active-link {
  color: #C84E90;
}

.button-link {
  color: #b6b6b6;
}

.button-link:hover {
  color: #000000;
}

i {
  font-size: 1rem;
}

.logout-btn {
  vertical-align: middle;
}

.logout {
  font-size: 1.5rem;
}

button {
  background: none;
  border: none;
}
