@import url('https://fonts.googleapis.com/css?family=Great+Vibes');

.header {
  background-color: #ffffff;
}

.title {
  font-family: 'Great Vibes', cursive;
  color: #C84E90;
  font-size: 2.5rem;
}

.btn-outline-dark {
  color: #C84E90;
  border: none;
}

.btn-outline-dark:hover {
  background-color: #C84E90;
  color: #ffffff;
}

a:hover {
  text-decoration: none;
}
