<div class="header p-3 d-flex justify-content-between">
  <a routerLink="/">
    <h2 class="title px-3 mb-0">
      Writeup
    </h2>
  </a>
  <div class="d-flex">
    <div class="pt-2" *ngIf="isLoggedIn; else notLogged">
      <a class="button-link mx-2" routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Home</a>
      <a class="button-link mx-2" routerLink="/editor" routerLinkActive="active-link">
        <i class="material-icons">
          edit
        </i>
        New Article
      </a>
      <a class="button-link mx-2" routerLink="/settings" routerLinkActive="active-link">
        <i class="material-icons">
          settings
        </i>
        Settings
      </a>
      <a class="button-link mx-2" routerLink="/@{{currUser.username}}" routerLinkActive="active-link">
        <img src="{{currUser.image}}" height=25 width=25 class="rounded-circle">
        {{currUser.username}}
      </a>
      <button class="button-link ml-2 logout-btn" (click)="logoutClicked()">
        <i class="material-icons logout">
          exit_to_app
        </i>
      </button>
    </div>
    <ng-template #notLogged class="pt-2">
      <a class="button-link mx-2" routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Home</a>
      <a class="button-link mx-2" routerLink="/login" routerLinkActive="active-link">Sign in</a>
      <a class="button-link mx-2" routerLink="/register" routerLinkActive="active-link">Sign up</a>
    </ng-template>
  </div>
</div>
