.username {
  font-size: 0.9rem;
  color: #C84E90;
}

.timestamp {
  font-size: 0.75rem;
}

.title {
  font-size: 1.5rem;
  color: #000000;
}

.favorite-btn {
  background: none;
  border: #C84E90 solid 1px;
  color: #C84E90;
  font-size: 1.1rem;
}

.favorite-btn:hover {
  background-color: #C84E90;
  color: #ffffff;
}

i{
  font-size: 1rem;
}

a {
  text-decoration: none;
}
