<div class="article">
  <hr class="mt-0">
  <div class="d-flex justify-content-between">
    <div class="d-flex">
      <a routerLink="/@{{article.author.username}}">
        <img src="{{article.author.image}}" alt="" height=35 width=35 class="rounded-circle mx-2">
      </a>
      <div class="d-flex flex-column align-items-start">
        <a routerLink="/@{{article.author.username}}"><span class="username">{{article.author.username}}</span></a>
        <span class="timestamp text-secondary">{{date}}</span>
      </div>
    </div>
    <button class="rounded" (click)="toggleFavorite()" [ngClass]="{'favorite-btn': !article.favorited, 'unfavorite-btn': article.favorited}">
      <i class="material-icons mr-1">
        favorite_border
      </i>
      <span class="">{{article.favoritesCount}}</span>
    </button>
  </div>
  <a routerLink="/article/{{article.slug}}">
    <div class="d-flex align-items-start flex-column my-3">
      <h3 class="title">{{article.title}}</h3>
      <h6 class="font-weight-light text-secondary">{{article.description}}</h6>
      <h6 class="more font-weight-light text-secondary">Read more...</h6>
    </div>
  </a>
</div>
